.primary{
    background-color:pink;
    color: rgb(0, 0, 0);
    padding: 0.2em 0.5em;
    border-radius: 0.3em;
    border: none;
    margin: 0.1em;
}
table{
    width: 100%;
    border-collapse: collapse;
    th{
        background-color:pink;
        color: white;
        text-align: right;
    }
    th,td{
        padding: 0.2em;
    }
    th{
         border-bottom: 1px solid rgb(153, 153, 153)
    }
    tr{
        border-bottom: 1px solid rgb(153, 153, 153) ;
    }
    tr:nth-of-type(2n+1){
        background-color: lightgrey;
    }
}
.ghofl{
    background-color: pink;
}
