@if (state=='list') {

<button (click)="add()" class="primary">افزودن</button>
<table>
    <thead>
        <tr>
            <th>شناسه</th>
            <th>نام </th>
            <th>نام خانوادگی</th>
            <th>کدملی </th>
            <th> جنسیت</th>
            <th>شماره موبایل</th>
            <th>ادرس</th>
            <th>نوع عضویت</th>
        </tr>
    </thead>
    <tbody>
        @for (item of data; track $index) {
        <tr>
            <th>{{item.id}}</th>
            <td>{{item.firstname}}</td>
            <td>{{item.lastname}}</td>
            <td>{{item.nationalid}}</td>
            <td>{{item.gender}}</td>
            <td>{{item.mobilenumber}}</td>
            <td>{{item.address}}</td>
            <td>{{item.membershiptype}}</td>
            <button (click)="edit(item)" class="primary">ویرایش</button>
            <button (click)="remove(item)" class="primary">حذف</button>
        </tr>
        }
    </tbody>
</table>
}
@else {
    @if (state=='remove') {
    <div class="alert">
        ایا از حذف این کتاب اطمینان دارید؟
    </div>
}
<form (ngSubmit)="save()">
    <div >
        <input  [disabled]="state=='edit' || state=='remove'" [class.ghofl]="state=='edit'"  [(ngModel)]="item.id" id="id" name="id" type="number" placeholder="شناسه">
    </div>
    <div>
        <input [disabled]="state=='remove'"  [(ngModel)]="item.firstname" id="firstname" name="firstname" type="text" placeholder="نام">
    </div>
    <div>
        <input [disabled]="state=='remove'"  [(ngModel)]="item.lastname" id="lastname" name="lastname" type="text" placeholder="نام خانوادگی">
    </div>
    <div>
        <input [disabled]="state=='remove'"  [(ngModel)]="item.nationalid" id="nationalid" name="nationalid" type="number" placeholder="کدملی">
    </div>
    <div>
        <input [disabled]="state=='remove'"  [(ngModel)]="item.gender" id="gender" name="gender" type="text" placeholder="جنسیت">
    </div>
    <div>
        <input [disabled]="state=='remove'"  [(ngModel)]="item.mobilenumber" id="mobilenumber" name="mobilenumber" type="number" placeholder="شماره تلفن">
    </div>
    <div>
        <input [disabled]="state=='remove'"  [(ngModel)]="item.address" id="address" name="address" type="text" placeholder="آدرس">
    </div>
    <div>
        <input [disabled]="state=='remove'"  [(ngModel)]="item.membershiptype" id="membershiptype" name="membershiptype" type="text" placeholder="نوع عضویت">
    </div>
    <div>
        <button class="primary" type="submit" >تایید</button>
        <button (click)="cancel()" class="primary" type="button" >انصراف</button>
    </div>

</form>
}