/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgb(149, 149, 149);
    margin: 0;
}
@font-face {
    font-family: persion ;
    src: url('/fonts/persion.woff2');
}
*{
    font-family: persion;
}
.alert{
    background-color:pink;
    border: 1px solid lightcoral;
    padding: 0.1em;
    border-radius: 0.2em;
    margin: 0.1em;
    text-align: center;
}